/*Левый блок меню*/
@import "../mixins/mixins";

.leftBar {
  padding: 15px;
  border: solid 2px $secondaryColor;
  border-radius: 5px;

  .leftBarWrapper {
    hr {
      margin: 5px 0px;
      border: 1px solid $secondaryColor;
    }
    .flexColumn{
      display: flex;
      flex-flow: column;
      .propertyColumn{
        display: flex;
        align-items: baseline;
        .info {
          margin-top: 5px;
          margin-left: 5px;
          input{
            margin-left: 5px;
          }
        }
      }
    }
    .flexRaw {
      display: flex;
      align-items: center;

      svg {
        height: 17px;

      }



      a {
        font-family: 'Gotham Pro Bold', sans-serif;
        font-size: 20px;
        text-decoration: none;
        color: black;
      }
    }
  }
}


.active {
  color: #191919;
  font-size: 30px;
}

.checkBox {
  //галочки доделать
}

