/*Левый блок меню*/
@import "../mixins/mixins";

.leftBar{
  padding: 15px;
  border: solid 2px $secondaryColor;
  border-radius: 5px;

  &__wrapper{
  //  для будущего контента
  }
}

.flexRaw{
  display: flex;
  align-items: center;
  svg{
    height: 17px;
  }
  hr{
    border: 1px solid $secondaryColor;
  }
}

.checkBox{
//галочки доделать
}

.info{
  margin-left: 5px;
}