@import '../../mixins/mixins';
.flex {
  display: flex;

  img {
    height: 190px;
    margin-right: 15px;
  }

  span {
    text-transform: none;
  }
}



.wrapper200 {
  color: #f0a30d;
  justify-content: space-between;
  width: 200px;
}

  .hrContent{
    border: 1px solid $primaryColor;
    margin: 10px 0;
  }


