/*шапка сайта*/
.Header {
  width: 1000px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;

  a {
    color: #9c4b86;
    text-decoration: none;
    font-size: 20px;
  }

}

.hrHeader {
  position: absolute;
  left: 0;
  width: 100%;
  border: 1px solid #f0a30d;

}